* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#container > div {
    width: 50vw;
    height: 100vh;
}

#container iframe {
    width: 50vw;
    height: 100vh;
    border: none;
    background-color: #fff;
}

.EasyMDEContainer {
    height: 100%;
}

.CodeMirror {
    height: 100% !important;
}

.editor-toolbar {
    border: none;
    background-color: #f5f5f5;
}
